<% include header %>

    <section class="container-fluid col-md-8">
        <div class="card ">
            <div class="card-body">
                <h4 class="card-title">Users</h4>
                <div class="card-body">
                    <form action="/users" method="post" id="frmData">
                        <input type="hidden" name="userId" id="userId" value="<%=userInfo.userId%>">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="" class="control-label">Full Name</label>
                                <div class="form-group">
                                    <input type="text" name="fullName" id="fullName" class="form-control" value="<%=userInfo.fullName%>">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="" class="control-label">Email</label>
                                <div class="form-group">
                                    <input type="text" name="email" id="email" class="form-control" value="<%=userInfo.email%>">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="" class="control-label">Mobile</label>
                                <div class="form-group">
                                    <input type="text" name="mobile" id="mobile" class="form-control" value="<%=userInfo.mobile%>">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="" class="control-label">userType</label>
                                <div class="form-group">
                                    <select name="userType" id="userType" class="select2" style="width: 100%;">
                                        <option value="User" <%if(userInfo.userType=='User' ){%> selected
                                            <%}%>>User</option>
                                        <option value="Admin" <%if(userInfo.userType=='Admin' ){%> selected
                                            <%}%>>Admin</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="" class="control-label">User Name</label>
                                <div class="form-group">
                                    <input type="text" name="userName" id="userName" class="form-control" value="<%=userInfo.userName%>">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="" class="control-label">Password</label>
                                <div class="form-group">
                                    <input type="password" name="password" id="password" class="form-control" value="<%=userInfo.password%>">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="" class="control-label">Active</label>
                                <div class="form-group">
                                    <select name="isActive" id="isActive" class="select2" style="width: 100%;">
                                        <option value="1" <%if(userInfo.isActive==1 ){%> selected
                                            <%}%> >Yes</option>
                                        <option value="0" <%if(userInfo.isActive==0 ){%> selected
                                            <%}%>>No</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                &nbsp;
                            </div>
                            <div class="col-md-2">
                                <input type="button" value="Update" id="btnSave" name="btnSave" class="btn btn-primary">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <% include footer %>
        </body>

        <script>
            $(document).ready(function () {
                $('#fullName').focus();
            });
            $('#btnSave').click(function () {
                if ($('#fullName').val() == "") {
                    toastr['warning']('Enter full name of the user');
                    $('#fullName').focus();
                } else if ($('#userType option:selected').html() == '--Select--') {
                    toastr['warning']('Choose admin/user');
                    $('#userType').focus();
                } else if ($('#userName').val() == "") {
                    toastr['warning']('Enter username');
                    $('#userName').focus();
                } else if ($('#password').val() == "") {
                    toastr['warning']('Enter password');
                    $('#password').focus();
                } else {
                    var frmData = $('#frmData').serializeArray();
                    $.post('/users', frmData, function (resp) {
                        if ($('#userId').val() == 0) {
                            swal({
                                title: 'Users',
                                text: 'Saved successfully',
                                type: 'success',
                                showConfirmButton: false
                            });
                            setTimeout(function () {
                                location.reload();
                            }, 1000);
                        } else if ($('#userId').val() > 0) {
                            swal({
                                title: 'Users',
                                text: 'Updated successfully',
                                type: 'success',
                                showConfirmButton: false
                            });
                            setTimeout(function () {
                                location.reload();
                            }, 1000);
                        }
                    });
                }
            });
        </script>

        </html>