<% include header %>
    <section class="container-fluid col-md-8">
        <div class="card ">
            <div class="card-body">
                <h4 class="card-title">Company</h4>
                <div class="card-body">
                    <form id="frmCompany" action="/company" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="" class="control-label">Clinic Name</label>
                                <div class="form-group">
                                    <input type="text" name="companyName" id="companyName" class="form-control" value="<%= data.companyName %>">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="" class="control-label">City</label>
                                <div class="form-group">
                                    <input type="text" name="city" id="city" class="form-control" value="<%= data.city %>">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="" class="control-label">Email</label>
                                <div class="form-group">
                                    <input type="text" name="email" id="email" class="form-control" value="<%= data.email %>">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="" class="control-label">Phone</label>
                                <div class="form-group">
                                    <input type="text" name="phone" id="phone" class="form-control" value="<%= data.phone %>">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="" class="control-label">Mobile</label>
                                <div class="form-group">
                                    <input type="text" name="mobile" id="mobile" class="form-control" value="<%= data.mobile %>">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="" class="control-label">Description</label>
                                <div class="form-group">
                                    <textarea name="description" id="description" rows="4" class="form-control"><%= data.description %></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                &nbsp;
                            </div>
                            <div class="col-md-2">
                                <%if(data.companyId>0){%>
                                    <input type="button" value="Update" id="btnSave" name="btnSave" class="btn btn-primary">
                                    <%}else{%>
                                        <input type="button" value="Save" id="btnSave" name="btnSave" class="btn btn-primary">
                                        <%}%>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <% include footer %>
        <script>
            $('#btnSave').click(function () {
                var frmData = $('#frmCompany').serializeArray();
                $.post('/company', frmData, function (resp) {
                    if (resp) {
                        swal({
                            title: 'Company',
                            text: 'Updated successfully',
                            type: 'success',
                            showConfirmButton: false
                        });
                        setTimeout(function () {
                            location.reload();
                        }, 1000);
                    }
                });
            });
        </script>

        </body>

        </html>